
body {
  background: center / cover no-repeat url('./assets/img/background.jpg');
  min-height: 98.4vh;
  background-attachment: fixed;
  position: relative;

}

h1, p, a, li {
  font-family: "Cascadia Code";
}

h1 {
  color: orange;
  max-width: fit-content;
  margin-inline: auto;
  font-size: 3rem;

}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.navbar {
  height: 5vh;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;

  .navbar_logo {
    max-width: fit-content;
    font-size: 1.5rem;
    padding-left: 2rem;
  }

  ul {
    padding-top: 0.1rem;
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    justify-content: flex-end;
    padding-right: 1rem;
  }
}

.img_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow: hidden;
  padding: 2rem;
  gap: 100px;

  div {
    transition: 400ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #b4b0b0;
    border-radius: 25px;
    color: #fff;
    overflow: hidden;

    p:nth-of-type(1) {
      color: black;
    }


    &:hover {
      transform: scale(1.2);
    }

    .art_img {
      object-fit: contain;
      max-height: 300px;

    }
  }
}

.details {
  text-align: center;
  margin-top: 50px;
  color: black;
  background-color: #b4b0b0;
  max-width: 700px;
  margin-inline: auto;
  border-radius: 25px;
  color: #fff;
  overflow: hidden;

  p:nth-of-type(1) {
    color: black;
  }


  img {
    max-width: 700px;
  }
}

.goto_art {
  font-size: 5rem;
  color: orange;
  border: solid orange 5px;
  margin-left: 25%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 25%;
  min-width: 710px;
  transition: 500ms;

  &:hover {
    background-color: black;
    color: #fff;
    border: solid white 5px;

  }

}

